root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true

[{LICENSE,.gitignore,.eslintignore,.eslintrc.js}]
indent_style = space

[*.{json,yml,md,babelrc,eslintrc,eslintrc.js,tsconfig}]
indent_style = space
